@page "/"

@rendermode InteractiveServer

@using Website.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<AppDbContext> DbContextFactory

<PageTitle>Home</PageTitle>

<h1>Hello, world and Maciej!</h1>

<EditForm Model="_model" OnValidSubmit="Submit" FormName="Form1">
  <InputText @bind-Value="_model!.Value"/>
  <button type="submit">Submit</button>
</EditForm>

Welcome to your new app.

<ul>
@foreach(var name in _names) {
  <li>@name</li>
}
</ul>

@code {

  private class Model {
      public string Value { get; set; } = "";
  }

  [SupplyParameterFromForm]
  private Model? _model { get; set; }

  List<string> _names = [];

  protected override void OnInitialized() {
    if (_model is null) {
      _model = new Model();
    }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (firstRender) {
      await using var db = await DbContextFactory.CreateDbContextAsync();

      _names = await db.Rides
        .AsNoTracking()
        .Select(x => x.Name)
        .ToListAsync();

      Console.WriteLine($"Found {_names.Count} item(s).");

      StateHasChanged();
    }
  }

  private void Submit() {
    Console.WriteLine("Form submit.");
  }
}
